PDFsets
mcfm_omp
Doc/latex.out
Doc/mcfm.aux
Doc/mcfm.dvi
Doc/mcfm.log
Doc/mcfm.out
Doc/mcfm.toc
QCDLoop/ff/libff_omp.a
QCDLoop/ff/obj_omp/
QCDLoop/ql/libqcdloop_omp.a
QCDLoop/ql/obj_omp/
QCDLoop/test
TensorReduction/ov/libov_omp.a
TensorReduction/ov/obj_omp/
TensorReduction/pv/libpv_omp.a
TensorReduction/pv/obj_omp/
TensorReduction/recur/libsmallF_omp.a
TensorReduction/recur/libsmallG_omp.a
TensorReduction/recur/libsmallP_omp.a
TensorReduction/recur/libsmallY_omp.a
TensorReduction/recur/smallF/obj_omp/
TensorReduction/recur/smallG/obj_omp/
TensorReduction/recur/smallP/obj_omp/
TensorReduction/recur/smallY/obj_omp/
obj_omp/
